@{
    ViewData["Title"] = "Fale Conosco";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Fale conosco</small>
            </h4>
        </div>
        <hr />
        <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        Se você tiver alguma dúvida ou sugestão, fale conosco:
        <br /><br />
        <i class="fas fa-envelope"></i>
        <email address="snacks.ltda.1@gmail.com" content="Enviar um e-mail"></email>
        <br />
        <i class="fas fa-mobile-alt"></i>
        (11) 1111-1111
        <br />
        <i class="fas fa-home"></i>
        Av. Teste, 1000 - 11111-111 - São Paulo
    </div>
</div>