@using Snacks.Context
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="dropdown-toggle btn btn-outline-dark mt-2 mt-lg-0 w-100" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @{
                var applicationUser = await UserManager.GetUserAsync(User);
            }
            Olá, @applicationUser.FirstName!
        </a>
        <div class="dropdown-menu">
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="dropdown-item">
                    Área administrativa
                </a>
                <div class="dropdown-divider"></div>
            }
            <a asp-controller="Account" asp-action="Edit" class="dropdown-item">
                Minha conta
            </a>
            <a asp-controller="Order" asp-action="MyOrders" class="dropdown-item">
                Meus pedidos
            </a>
            <div class="dropdown-divider"></div>
            <a asp-controller="Contact" asp-action="Index" class="dropdown-item">
                Contato
            </a>
            <div class="dropdown-divider"></div>
            <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">
                    Sair
                </a>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="dropdown-toggle btn btn-outline-dark mt-2 mt-lg-0 w-100" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olá, visitante!
        </a>
        <div class="dropdown-menu">
            <a asp-controller="Account" asp-action="Login" class="dropdown-item">
                Login
            </a>
            <a asp-controller="Account" asp-action="Register" class="dropdown-item">
                Novo cadastro
            </a>
            <div class="dropdown-divider"></div>
            <a asp-controller="Contact" asp-action="Index" class="dropdown-item">
                Contato
            </a>
        </div>
    </li>
}