@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Esqueci a senha";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Esqueci a senha</small>
            </h4>
        </div>
        <hr />
        <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <input type="submit" class="btn btn-outline-success float-right ml-2" value="Redefinir senha" />
            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary float-right">Ir para o login</a>
        </div>
    </div>
</form>