@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Login</small>
            </h4>
        </div>
        <hr />
        <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <input type="submit" class="btn btn-outline-success float-right w-25 ml-2" value="Login" />
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary float-right ml-2">Novo cadastro</a>
            <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-outline-primary float-right">Redefinir senha</a>
        </div>
    </div>
</form>