
@{
    ViewData["Title"] = "Redefinição de senha";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Redefinição de senha</small>
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm ">
        <div class="jumbotron text-center">
            <h4>
                <small>Token inválido/expirado.</small>
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary float-right">Ir para o login</a>
    </div>
</div>