@model Order

@{
    ViewData["Title"] = "Detalhe do pedido";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Detalhe do pedido #@Model.Id</small>
            </h4>
        </div>
        <hr />
    </div>
</div>

<partial name="_OrderDetail" model="Model" />