@model ListUserViewModel

@{
    ViewData["Title"] = "Editar usuário";
}

<div class="row">
    <div class="col-sm">
        <div class="p-1 text-dark text-center my-2 headerColor">
            <h4>
                <small>Editar usuário #@Model.Id</small>
            </h4>
        </div>
        <hr />
        <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<form asp-area="Admin" asp-controller="User" asp-action="Edit" method="post">
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Role" class="control-label"></label>
            <select asp-for="Role" class="form-control" asp-items="@Model.RoleItems"></select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6">
            <input type="submit" class="btn btn-outline-success float-right ml-2" value="Editar usuário" />
            <a asp-action="Index" class="btn btn-outline-secondary float-right">Lista de usuários</a>
        </div>
    </div>
</form>