@{
    ViewData["Title"] = "Access denied";
}

@* https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/authentication/identity/sample/src/ASPNETCore-IdentityDemoComplete/IdentityDemo/Views/Account *@

<header>
    <h2 class="text-danger">
        @ViewData["Title"]
    </h2>
    <p class="text-danger">
        You do not have access to this resource: <code>@ViewData["AccessDeniedUrl"]</code>.
    </p>
</header>