@{
    ViewData["Title"] = "Not found";
}

<header>
    <h2 class="text-danger">
        @ViewData["Title"]
    </h2>
    <p class="text-danger">
        The requested URL was not found on this server.
    </p>
</header>